.fi-sidebar-nav {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

/* .fi-ta-table thead {
    position: sticky !important;
    top: 0;
    z-index: 30;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.fi-ta-content {
    max-height: 600px;
    position: relative;
}

.fi-dropdown-panel {
    z-index: 90 !important;
}

@media  (min-width: 768px) {
    .fi-ta-table thead {
        position: sticky !important;
        top: 0;
        z-index: 9;
    }

    .fi-ta-table :is(:where(.dark) .dark\:bg-white\/5){
        background-color: rgb(36 36 39); 
    }

    .fi-ta-content {
        height: calc(100vh - 20rem);
        position: relative;
    }

    .fi-dropdown-panel{
        z-index: 90 !important;
    }
} */

td div.px-3.py-4 {
    padding: 6px 12px;
}
.fi-ta-header-cell, thead  tr th.fi-ta-cell div.px-3.py-4 {
    padding: 8px 12px !important;
}